doctype html
html(lang="es")
  head
    title Foto proyecto
    meta(charset="utf-8")
    link(href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/flatly/bootstrap.min.css",rel="stylesheet")
  body
    block contenido
